<%- include('./includes/head') %>

<%- include('./includes/navbar') %>

<main>
  <div class="container text-center py-5">
    <div class="display-1">Erro 404!</div>
    <div class="lead">Rota não encontrada! tente outra rota ou volte para <a href="/" class="link-primary">página inicial</a></div>
  </div>
</main>

<%- include('./includes/footer') %>