<%- include('./includes/head') %>

<main>
  <div class="container text-center py-5">
    <div class="display-1">Erro interno no servidor!</div>
    <a href="/" class="link-primary">Voltar para página inicial.</a>
  </div>
</main>

<%- include('./includes/footer') %>